In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from apyori import apriori

In [23]:
df = pd.read_csv('Order_details(masked).csv')

# EDA & Data Cleaning

In [12]:
df.head()

,Name,Email,Product,Transaction Date
0,PERSON_1,PERSON_1@gmail.com,PRODUCT_75,01/03/2021 00:47:26
1,PERSON_2,PERSON_2@tataprojects.com,PRODUCT_75,01/03/2021 02:04:07
2,PERSON_3,PERSON_3@gmail.com,PRODUCT_63,01/03/2021 09:10:43
3,PERSON_4,PERSON_4@gmail.com,PRODUCT_63,01/03/2021 09:49:48
4,PERSON_5,PERSON_5@gmail.com,"PRODUCT_34,PRODUCT_86,PRODUCT_57,PRODUCT_89",01/03/2021 10:56:46

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              581 non-null    object
 1   Email             581 non-null    object
 2   Product           581 non-null    object
 3   Transaction Date  581 non-null    object
dtypes: object(4)
memory usage: 18.3+ KB

In [14]:
df.describe()

              Name                 Email     Product     Transaction Date
count          581                   581         581                  581
unique         525                   525         252                  581
top     PERSON_470  PERSON_470@gmail.com  PRODUCT_75  01/03/2021 00:47:26
freq             5                     5          74                    1

In [15]:
df.shape

(581, 4)

In [17]:
df.isnull().sum() #no null value, so this part doesn't need to be cleaned

Name                0
Email               0
Product             0
Transaction Date    0
dtype: int64